<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>djazayeri</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://dev.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

    <require_modules>
        <require_module version="${uiframeworkVersion}">
            org.openmrs.module.uiframework
        </require_module>
        <require_module version="${webservices.restVersion}">
            org.openmrs.module.webservices.rest
        </require_module>
		<require_module version="${appuiVersion}">
			org.openmrs.module.appui
		</require_module>
		<require_module version="${kenyauiVersion}">
			org.openmrs.module.kenyaui
		</require_module>
		<require_module version="${kenyacoreVersion}">
			org.openmrs.module.kenyacore
		</require_module>
    </require_modules>

    <!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.KenyaEMROrderEntryActivator</activator>
	
	
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
		LabManifest.hbm.xml
		LabManifestOrder.hbm.xml
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

	<globalProperty>
		<property>kenyaemrorderentry.drugsMappingDirectory</property>
		<defaultValue>kenyaemrorderentry</defaultValue>
		<description>
			A directory that contains KenyaEMR order entry specific configs
		</description>
	</globalProperty>

	<globalProperty>
		<property>chai_eid_server_url</property>
		<defaultValue>http://localhost:8094/api/v1/chai/push</defaultValue>
		<description>
			The URL for pushing requests to the CHAI EID server
		</description>
	</globalProperty>

	<globalProperty>
		<property>chai_eid_server_result_url</property>
		<defaultValue>http://localhost:8094/api/v1/chai/pull</defaultValue>
		<description>
			The URL for fetching CHAI EID result
		</description>
	</globalProperty>

	<globalProperty>
		<property>chai_eid_server_api_token</property>
		<defaultValue>5de96c436f5956cebb97b63fa354bde1</defaultValue>
		<description>
			API token to authenticate communication to the CHAI EID lab system API
		</description>
	</globalProperty>

	<globalProperty>
		<property>chai_vl_server_url</property>
		<defaultValue>http://localhost:8094/api/v1/chai/push</defaultValue>
		<description>
			The URL for pushing requests to the CHAI VL server
		</description>
	</globalProperty>

	<globalProperty>
		<property>chai_vl_server_result_url</property>
		<defaultValue>http://localhost:8094/api/v1/chai/pull</defaultValue>
		<description>
			The URL for fetching CHAI VL result
		</description>
	</globalProperty>

	<globalProperty>
		<property>chai_vl_server_api_token</property>
		<defaultValue>5de96c436f5956cebb97b63fa354bde1</defaultValue>
		<description>
			API token to authenticate communication to the CHAI VL lab system API
		</description>
	</globalProperty>

	<globalProperty>
		<property>labware_eid_server_url</property>
		<defaultValue>http://localhost:8094/api/v1/labware/push</defaultValue>
		<description>
			The URL for pushing requests to the LABWARE EID server
		</description>
	</globalProperty>

	<globalProperty>
		<property>labware_eid_server_result_url</property>
		<defaultValue>http://localhost:8094/api/v1/labware/pull</defaultValue>
		<description>
			The URL for fetching LABWARE EID result
		</description>
	</globalProperty>

	<globalProperty>
		<property>labware_eid_server_api_token</property>
		<defaultValue>5de96c436f5956cebb97b63fa354bde1</defaultValue>
		<description>
			API token to authenticate communication to the LABWARE EID lab system API
		</description>
	</globalProperty>

	<globalProperty>
		<property>labware_vl_server_url</property>
		<defaultValue>http://localhost:8094/api/v1/labware/push</defaultValue>
		<description>
			The URL for pushing requests to the LABWARE VL server
		</description>
	</globalProperty>

	<globalProperty>
		<property>labware_vl_server_result_url</property>
		<defaultValue>http://localhost:8094/api/v1/labware/pull</defaultValue>
		<description>
			The URL for fetching LABWARE VL result
		</description>
	</globalProperty>

	<globalProperty>
		<property>labware_vl_server_api_token</property>
		<defaultValue>5de96c436f5956cebb97b63fa354bde1</defaultValue>
		<description>
			API token to authenticate communication to the LABWARE VL lab system API
		</description>
	</globalProperty>

	<globalProperty>
		<property>kemrorder.last_processed_manifest</property>
		<defaultValue></defaultValue>
		<description>
			The manifest whose results were last checked
		</description>
	</globalProperty>

	<globalProperty>
		<property>kemrorder.manifest_last_update_time</property>
		<defaultValue></defaultValue>
		<description>
			The time the manifest last updated
		</description>
	</globalProperty>

	<globalProperty>
		<property>kemrorder.viral_load_result_tat_in_days</property>
		<defaultValue>10</defaultValue>
		<description>
			The turnaround time for VL results in days. This is to avoid premature polling for results. An empty value will default to 4 days
		</description>
	</globalProperty>

	<globalProperty>
		<property>kemrorder.retry_period_for_incomplete_vl_result</property>
		<defaultValue>2</defaultValue>
		<description>
			Retry period after which updates for incomplete results can be checked. An empty value will default to 2 days
		</description>
	</globalProperty>

	<globalProperty>
		<property>kemrorder.labsystem_identifier</property>
		<defaultValue>LABWARE</defaultValue>
		<description>
			The name of the lab system in use. Answers should be CHAI,LABWARE
		</description>
	</globalProperty>


</module>

