
fieldset.scheduler-border {
    border: 3px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

legend.mylegend {
    background: #FFF !important;
}
legend {
    border: 0;
    padding: 0;
}
.mylegend {
    background: #eee;
    line-height: 16px;
    margin-bottom: 20px;
    padding: 3px 0;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.column {
    float: left;
    width: 46%;
    margin-top: 6px;
    margin-right: 0.3%;

}

body {
    padding : 10px ;

}
.selected {
    background-color:black;
    color:white;
    font-weight:bold;
}
.modal-header-primary {
    color:black;

    background-color: #ebebeb;

}

.modal-header-warning {
    color:#fff;
    background-color: #ebebeb;

}
.modal-lg {
    max-width: 80% !important;
}
.dropdown {
    display: inline-block;
    top: 12%;
    right: 5%;
    margin: 0 0;

}

.dropdown-content {
    display: none;
    right: 0;
    padding-top: 0%;
    padding-bottom: 0%;
    width: auto;
    height: auto;


    background-color: #7f7b72;
    overflow: hidden;
    border: 3px solid #edede6;
    font-size: 15px;
    
}

.dropdown-content a {
    color: white;
    padding: 3%;
    text-decoration: none;
    display: inline-block;

}
.cancel-button {
    background-color: red !important;
    text-decoration-color: white !important;
}

.dropdown-content a:hover {

}

.dropdown:hover .dropdown-content {
    display: inline-block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
}
.ke-toolbar-item a {

    font-weight: bold;
    color: white !important ;
    text-decoration: none;

}
#orderHeader {
    vertical-align: center !important;
    text-align: center;
    padding-left: 30%;
}
#orderBack {
    float: left;
    width: 12%;
    height: 5px !important;
}

.ke-menu-item {

    display: block;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #CCC;
    padding: 1px !important;
    min-height: 32px;

}
.label {
    min-width: 220px !important;
}
.set-width {
    width: 220px;
}
.set-width-vl {
    width: 190px;
}
.list-group-decorator .list-group-item:hover {
    background-color: rgb(221, 221, 221);
}